.facts--section{
    display: flex;
    flex-direction: column;
}

.facts--day{
    display: flex;
    justify-content: space-between;
}

.facts--food{
    min-width: 30%;
    max-height: 500px;
    overflow: hidden;
    overflow-y: auto;
}

.wrapper--food{
    display: flex;
    flex-direction: column;
}

.facts--info{
    display: flex;
    flex-direction: column;
    min-width: 40%;
    align-items: center;
    padding: 30px;
}

.addsection--food{
    display: flex;
    align-items: center;
    justify-content: center;
}