.facts--section{
    display: flex;
    flex-direction: column;
    min-width: 90vw;
}

.facts--day{
    display: flex;
    justify-content: space-between;
}

.wrapper--food{
    display: flex;
    flex-direction: column;
    min-width: 60%;
    max-width: 60%;
}

.facts--info{
    display: flex;
    flex-direction: column;
    min-width: 40%;
    align-items: center;
    padding: 30px;
}

.addsection--food{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}